<configuration scan="true" scanPeriod="15 seconds">

	<property name="LOG_FILES_HOME" value="/Users/Shared/logback" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_FILES_HOME}/myApp.log</file>

		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<logger name="com.sample.app" level="WARN">
		<appender-ref ref="FILE" />
	</logger>


	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>