{% set number1 = -13 %}
{% set number2 = 13 %}
{% set number3 = -13.33 %}
{% set number4 = 13.33 %}

number1: {{number1}}
number2: {{number2}}
number3: {{number3}}
number4: {{number4}}
Absolute value of number1 : {{ number1|abs }}
Absolute value of number2 : {{ number2|abs }}
Absolute value of number3 : {{ number3|abs }}
Absolute value of number4 : {{ number4|abs }}