{% set a = 10 %}
{% set b = true %}
{% set c = 1 %}

{% if a|bool %} 
{{a}} is evaluated to true 
{% else %}
{{a}} is evaluated to false
{% endif %}

{% if b|bool %} 
{{b}} is evaluated to true 
{% else %}
{{b}} is evaluated to false
{% endif %}

{% if c|bool %} 
{{c}} is evaluated to true 
{% else %}
{{c}} is evaluated to false
{% endif %}


