{% set a = 12 %}
{% set b = 0 %}
{% set c = 1 %}
{% set d = '1' %}

{% set e = 'true' %}
{% set f = 'TRUE' %}
{% set g = 'tRUe' %}
{% set h = 'on' %}
{% set i = 'yes' %}
{% set j = 't' %}
{% set k = 'y' %}
{% set l = 'false' %}
{% set m = 'n' %}
{% set n = 'f' %}


a = {{a}}
b = {{b}}
c = {{c}}
d = '{{d}}'
e = {{e}}
f = {{f}}
g = {{g}}
h = {{h}}
i = {{i}}
j = {{j}}
k = {{k}}
l = {{l}}
m = {{m}}
n = {{n}}


{{a}}|bool = {{a | bool}}
{{b}}|bool = {{b | bool}}
{{c}}|bool = {{c | bool}}
'{{d}}'|bool = {{d | bool}}
{{e}}|bool = {{e | bool}}
{{f}}|bool = {{f | bool}}
{{g}}|bool = {{g | bool}}
{{h}}|bool = {{h | bool}}
{{i}}|bool = {{i | bool}}
{{j}}|bool = {{j | bool}}
{{k}}|bool = {{k | bool}}
{{l}}|bool = {{l | bool}}
{{m}}|bool = {{m | bool}}
{{n}}|bool = {{n | bool}}