{% set sentence1 = 'Hi, How are you' %}
{% set sentence2 = 'hi, How are you' %}

sentence1 : {{sentence1}}
sentence2 : {{sentence2}}
sentence1|capitalize : {{ sentence1|capitalize }}
sentence2|capitalize : {{ sentence2|capitalize }}