{% set var1 = 'Hello World' %}
{% set var2 = 'Hello World' %}
{% set var3 = 'Hello World' %}
{% set var4 = 'Hello World' %}

{{ var1|center(20) }}
{{ var1|center(50) }}
{{ var1|center(80) }}
{{ var1|center(120) }}