time : {{time}}
time|minus_time(86400000000000, 'nanos') : {{time|minus_time(86400000000000, 'nanos')}}
time|minus_time(86400000000, 'micros') : {{time|minus_time(86400000000, 'micros')}}
time|minus_time(86400000, 'millis') : {{time|minus_time(86400000, 'millis')}}
time|minus_time(86400, 'seconds') : {{time|minus_time(86400, 'seconds')}}
time|minus_time(1440, 'minutes') : {{time|minus_time(1440, 'minutes')}}
time|minus_time(24, 'hours') : {{time|minus_time(24, 'hours')}}
time|minus_time(6, 'halfdays') : {{time|minus_time(6, 'halfdays')}}
time|minus_time(3, 'days') : {{time|minus_time(3, 'days')}}
time|minus_time(3, 'weeks') : {{time|minus_time(3, 'weeks')}}
time|minus_time(3, 'months') : {{time|minus_time(3, 'months')}}
time|minus_time(3, 'years') : {{time|minus_time(3, 'years')}}
time|minus_time(3, 'decades') : {{time|minus_time(3, 'decades')}}
time|minus_time(3, 'centuries') : {{time|minus_time(3, 'centuries')}}
time|minus_time(3, 'millennia') : {{time|minus_time(3, 'millennia')}}
time|minus_time(1, 'eras') : {{time|minus_time(1, 'eras')}}