{% extends "tags/parentTemplate.jinja" %}

{% block title %}
block tag example
{% endblock %}

{% block body %}Using ‘block’ tag, we can define regions in a template, which can be overridden by child templates.{% endblock %}