{# Demo on loop.last property #}

{% for number in primes %}
    {% if loop.last %}
    	This is the last number in the list {{ number }} 
    {% else %}
    	Number: {{ number }}
    {% endif %}
{% endfor %}

