{% for country, capital in [('India', 'New Delhi'), ('Japan', 'Tokyo')] %}
	{{country}}, {{capital}}
{% endfor %}


{% for id, name, age in [(1, 'Krishna', 34), (2, 'Ram', 45)] %}
	{{id}}, {{name}}, {{age}}
{% endfor %}